
<div class="container">
	<%= render 'details' %> 
	<br/>
	<div>
		<a href=<%=@student.student_number.to_s + '.pdf'%> class="btn btn-primary" role="button">
			<span class="glyphicon glyphicon-download-alt"></span>
			<span>&nbsp; Download PDF</span>
		</a>
	</div>
</div>